@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

@media only screen and (max-width: 850px) {
  .tiles {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .tiles {
    grid-template-columns: 1fr;
  }
}

.tile {
  cursor: pointer;
  background-color: #eee;
  padding: 0px 20px;
  min-height: 113px;
}

.tile:link,
.tile:visited {
  color: #000;
}

.tile:hover {
  cursor: pointer;
}

.tile:active {
  color: #000;
}
